.swiper {
  height: 40rem;

  margin-top: 11.5rem;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 22.3rem;
  height: 33.8rem;
  
  background-color: #e5e5e5;
  backdrop-filter: blur(1rem);
  
  border-radius: 1.4rem;
}

.swiper-slide.swiper-slide-prev {
  width: 19.95rem !important;
}

.swiper-slide.swiper-slide-active {
  width: 27rem;
  height: 39.5rem;


  transition: 0.5s !important;
}